{% extends "base.html" %}


{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <h1>Hello, {{ user.username}}!</h1>
    {% else %}
    <h1>Hello, whoever you are!!!</h1>
    {% endif %}
    <div class="input-control" data-role="select">
        <select id="myselect" style="width:621px;" class="js-example-data-ajax"></select>
    </div>
</div>

<script type="text/javascript">
   $('.js-example-data-ajax').select2({
        placeholder: "Select a user",
        minimumInputLength: 2,
        allowClear: true,
        ajax: {
        url: '/api/get_users/',
        dataType: 'json',
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.username,
                        id: item.id
                    }
                })
            };
        }

        // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        }
      });

</script>
{% endblock %}
