{% extends "main/base.html" %}
{% load staticfiles %}
{% load friendshiptags %}

{% block title %}{{selecteduser.username}}{% endblock title %}

{% block content %}

<div class="container">

    <div class="row">
        <h2>{{selecteduser.first_name}} {{selecteduser.last_name}} ({{selecteduser.username}} #{{selecteduser.id}})</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <img src="{{ MEDIA_URL }}{{userprofile.picture}}" alt=""
                     width="150"
                     height="150"
                     alt="{{selecteduser.username}}">
            </div>
            {% if selecteduser.username == user.username %}
            <a class="btn btn-default" href="{% url 'edit_profile' selecteduser.username %}">Edit profile</a>
            <a class="btn btn-default" href="{% url 'my_schedule' user.username%}">Edit schedule</a>
            <br><br>
            {% else %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% are_friends selecteduser user as is_friend%}
            {% get_friendship_request_id selecteduser user as sent_friendship_request_id%}
            {% get_friendship_request_id user selecteduser as friendship_request_id%}
            {% if sent_friendship_request_id %}
             <form action="{% url 'friendship_cancel' sent_friendship_request_id selecteduser.username%}" method="post">
                 {% csrf_token %}
                 <input type="submit" value="Cancel friend request" class="btn btn-danger">
            </form>
            {% elif friendship_request_id%}
                    <form method="post" class="action-form" action="{% url 'friendship_accept' friendship_request_id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="accept"/>
                    </form>

                    <form method="post" class="action-form" action="{% url 'friendship_reject' friendship_request_id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="reject"/>
                    </form>
            {% else %}
               {% if is_friend == False %}
                    <form class="action-form" action="{% url 'friendship_create_request' selecteduser.username %}" method="post">
                         {% csrf_token %}
                        <input type="submit" value="Add to friend" class="btn btn-success">
                    </form>
               {% else %}
                     <form class="action-form" action="{% url 'friendship_remove' selecteduser.username %}" method="post">
                         {% csrf_token %}
                         <input type="submit" value="Remove from friends" class="btn btn-warning">
                     </form>
               {% endif %}
            {% endif %}
            {% endif %}
        </div>
        <div class="col-md-3">
            <p><b>Timezone: </b>{{userprofile.timezone}}</p>
            <p><b>Gender: </b>{{userprofile.get_gender_display}}</p>
            <p><b>Website: </b>{{userprofile.website}}</p>
            <p><b>Birthday: </b>{{userprofile.birthday}}</p>
            <p><b>Languages:</b></p>
            {% for user_lan in languages %}
            <p> {{user_lan.language.name}} - {{user_lan.get_level_display}} </p>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{userprofile.video_link}}"></iframe>
            </div>
        </div>
    </div>


    <div class="row">
        {% if intersection_percent %}
        <h3>Schedule's intersection is {{intersection_percent|floatformat}}%</h3>
        {% endif%}
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#menu1">
                    {{selecteduser.first_name}} {{selecteduser.last_name}}'s schedule
                </a>
            </li>
            {% if selecteduser.username != user.username %}
            <li>
                <a data-toggle="tab" href="#menu2">
                    My schedule
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#menu3">
                    Intersection
                </a>
            </li>
            {% endif%}
        </ul>
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {% for n, day in days_of_week %}
                        <th>{{day}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in sel_user_rows %}
                    <tr>
                        {% for value in row %}
                        {% if value %}
                        <td>{{value.0}}-{{value.1}}</td>
                        {% else %}
                        <td></td>
                        {% endif%}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="menu2" class="tab-pane fade">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {% for n, day in days_of_week %}
                        <th>{{day}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in user_rows %}
                    <tr>
                        {% for value in row %}
                        {% if value %}
                        <td>{{value.0}}-{{value.1}}</td>
                        {% else %}
                        <td></td>
                        {% endif%}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="menu3" class="tab-pane fade">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {% for n, day in days_of_week %}
                        <th>{{day}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in intersection_rows %}
                    <tr>
                        {% for value in row %}
                        {% if value %}
                        <td>{{value.0}}-{{value.1}}</td>
                        {% else %}
                        <td></td>
                        {% endif%}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
