{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}{{selecteduser.username}}{% endblock title %}

{% block content %}
{% if selecteduser.username == user.username %}
<a href="{% url 'edit_profile' selecteduser.username %}">Edit profile</a><br><br>
{% endif %}
<div class="container">
    <div class="row">
        <h2>{{selecteduser.first_name}} {{selecteduser.last_name}}</h2>
    </div>
    <div class="row">
        <div class="col-md-3"><img src="{{ MEDIA_URL }}{{userprofile.picture}}" alt=""
                                   width="150"
                                   height="150"
                                   alt="{{selecteduser.username}}">
        </div>
        <div class="col-md-3">
            <p><b>Timezone: </b>{{userprofile.timezone}}</p>
            <p><b>Gender: </b>{{userprofile.get_gender_display}}</p>
            <p><b>Website: </b>{{userprofile.website}}</p>
            <p><b>Birthday: </b>{{userprofile.birthday}}</p>
            <p><b>Languages:</b></p>
            {% for user_lan in languages %}
            <p> {{user_lan.language.name}} - {{user_lan.get_level_display}} </p>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{userprofile.video_link}}"></iframe>
            </div>
        </div>
    </div>


    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#menu1">
                    {{selecteduser.first_name}} {{selecteduser.last_name}}'s schedule
                </a>
            </li>
            {% if selecteduser.username != user.username %}
            <li>
                <a data-toggle="tab" href="#menu2">
                     My schedule
                </a>
            </li>
            {% endif%}
        </ul>
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {% for n, day in days_of_week %}
                        <th>{{day}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in sel_user_rows %}
                    <tr>
                        {% for value in row %}
                        {% if value %}
                        <td>{{value.0}}-{{value.1}}</td>
                        {% else %}
                        <td></td>
                        {% endif%}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="menu2" class="tab-pane fade">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {% for n, day in days_of_week %}
                        <th>{{day}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in user_rows %}
                    <tr>
                        {% for value in row %}
                        {% if value %}
                        <td>{{value.0}}-{{value.1}}</td>
                        {% else %}
                        <td></td>
                        {% endif%}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
