{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}{{selecteduser.username}}{% endblock title %}

{% block content %}
{% if selecteduser.username == user.username %}
<a href="{% url 'edit_profile' selecteduser.username %}">Edit profile</a><br><br>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-6"><img src="{{ MEDIA_URL }}{{userprofile.picture}}" alt=""
                                   width="300"
                                   height="300"
                                   alt="{{selecteduser.username}}">
        </div>
        <div class="col-md-6">
            <h2>{{selecteduser.first_name}} {{selecteduser.last_name}}</h2>
            <p><b>Timezone: </b>{{userprofile.timezone}}</p>
            <p><b>Gender: </b>{{userprofile.get_gender_display}}</p>
            <p><b>Website: </b>{{userprofile.website}}</p>
            <p><b>Birthday: </b>{{userprofile.birthday}}</p>
            <p><b>Languages:</b></p>
            {% for user_lan in languages %}
            <p> {{user_lan.language.name}} - {{user_lan.get_level_display}} </p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                {% for n, day in days_of_week %}
                <th>{{day}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
            <tr>
                {% for value in row %}
                {% if value %}
                <td>{{value.0}}-{{value.1}}</td>
                {% else %}
                <td></td>
                {% endif%}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
