{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %}User Profiles{% endblock title %}

{% block content %}
<h1>User Profiles</h1>

<div class="panel">
    <div class="panel-heading" align="right">
       <form class="form-horizontal" action="/update_timezone/" method="post"  id="timezone_form">
           {{form}}
       </form>
    </div>
    {% if userprofile_list %}
    <div class="panel-heading">
        <div class="panel-body">

                <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Birthday</th>
        <th>Website</th>
          <th>Gender</th>
          <th>LastLogin</th>
      </tr>
    </thead>
                    <tbody>
                {% for listuser in userprofile_list %}


                        <tr>
                            <td>
                                <a href="{% url 'profile'  listuser.user.username %}">
                                 {{ listuser.user.username }}
                                </a>
                            </td>
                            <td>
                                {{listuser.birthday}}
                            </td>
                            <td>
                                {{listuser.website}}
                            </td>
                            <td>
                                {{listuser.gender}}
                            </td>
                            <td>
                                {{listuser.last_login}}
                            </td>
                        </tr>


                {% endfor %}
                    </tbody>
                 </table>
        </div>
    </div>
    {% else %}
        <p>There are no users for the site.</p>
    {% endif %}
</div>
{% endblock content %}
