{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <title>{% block title %} {% endblock %}</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="{% static 'main/css/base.css' %}" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-default nav-menu">
      <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".button-menu">
  			<span class="sr-only">Toggle navigation</span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  		</button>
  		<a class="navbar-brand" href="{%url 'index'%}">ReadyToSpeak</a>
  	</div>

  	<div class="collapse navbar-collapse button-menu">
  		<ul class="nav navbar-nav ">
              <!--<li><a href="#"><i class="fa fa-home"></i> HOME</a></li>
              <li><a href="#">BILLER</a></li>
              <li><a href="#">USERS</a></li>
              <li><a href="#">OFFICES</a></li>-->
  		</ul>
       <ul class="nav navbar-nav navbar-right">
           <li><a href="{% url 'signin' %}">Sign in</a></li>
           <li><a href="{% url 'signup' %}">Sign up</a></li>
      </ul>
          <!--<ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <span class="glyphicon glyphicon-user"></span> 
                          <strong>Mahesh</strong>
                          <span class="glyphicon glyphicon-chevron-down"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li>
                              <div class="navbar-login">
                                  <div class="row">
                                      <div class="col-lg-4">
                                          <p class="text-center">
                                              <span class="glyphicon glyphicon-user icon-size"></span>
                                          </p>
                                      </div>
                                      <div class="col-lg-8">
                                          <p class="text-left"><strong>Mahesh</strong></p>
                                          <p class="text-left small">justdemo@gmail.com</p>
                                          <p class="text-left">
                                              <a href="#" class="btn btn-primary btn-block btn-sm">Logout</a>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="divider"></li>
                          <li>
                              <div class="navbar-login navbar-login-session">
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <p>
                                          	<a href="#" class="btn btn-primary btn-block">My Profile</a>
                                              <a href="#" class="btn btn-danger btn-block">Change Password</a>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </li>
              </ul>-->

  	</div>

    </nav>
  </div>


 {% block content%}
 {% endblock %}


</body>
</html>
