{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}{{seleceduser.username}} Profile{% endblock title %}

{% block content %}
<h1>{{selecteduser.username}} Profile</h1>
<img src="{{ MEDIA_URL }}{{userprofile.picture}}" alt=""
     width="300"
     height="300"
     alt="{{selecteduser.username}}">
<div>
    {% if selecteduser.username == user.username %}
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Update">
          </form>
    {% else %}
          <p><strong>Website:</strong> <a href="{{userprofile.website}}">{{userprofile.website}}</a></p>
    {% endif %}
</div>
<div id="edit_profile">

</div>
{% endblock content %}
