{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Форма поиска{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form class="form-horizontal" action="." method="get">
                {% csrf_token %}
                {% for field in form %}

                <div class="form-group">
                    {{ field.errors }}
                    <label class="control-label col-sm-2" for="{{ field.id_for_label }}">{{field.name}}:</label>
                    <div class="col-sm-10">
                        {{field}}
                    </div>
                </div>

                {% endfor %}
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-default" type="submit" name="search" value="Search">
                </div>
            </form>
        </div>
        <div class="col-md-9">
        </div>
    </div>
</div>
{% endblock content %}